<meta charset="UTF-8">
<title>wow codes</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
<script src="angular/angular.js"></script>
<script src="angular-route/angular-route.js"></script>
<script src="app.js"></script>
<style>
    body    { padding-top:50px; }
</style>
